{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/swiftbook.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>SwiftBook</title>
    {% block extra_head %}
    {% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="http://localhost:8000"><img src="{% static 'images/Swift_logo.png' %}"
                                                                      alt="SwiftBook"></a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{% url 'post_list' %}" data-scroll="">Posts</a></li>
                    <li><a href="{% url 'contact' %}" data-scroll="">Contact</a></li>
                    <li><a href="{% url 'photologue:pl-photo-archive' %}" data-scroll="">Workshops</a></li>


                </ul>
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">

                    {% if request.user.is_superuser %}
                    <li><a href="{% url 'post_new' %}" class="top-menu"><span
                            class="glyphicon glyphicon-plus"></span></a></li>
                    {% endif %}

                    <li><a href="">
                        <small>Logged as: {{ user.username }}</small>
                    </a></li>
                    <li><a href="{% url 'logout' %}">
                        <small>Log out</small>
                    </a></li>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="{% url 'login' %}" class="top-menu">Sign In</a></li>

                        <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>


                    <div class="white-to-transp">
                    </div>
            </div>

        </div>
        <div class="separator-for-nav"></div>
    </nav>
</header>


{% block body %}
{% block content %}
{% endblock %}
{% endblock %}
{% block extra_body %}
{% endblock %}
<div class="footer-always-bottom">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="my-footer">
                    <br>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="footer-powered">Powered by:</p>
                    </div>
                    <br>

                    <div class="col-md-1 col-md-offset-4 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
                        <span class="fa fa-html5 fa-3x" style="color:white"></span>
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <span class="fa fa-css3 fa-3x" style="color:white"></span>
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <img class="img-footer" src="{% static 'images/django_logo.png' %}">
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <img class="img-footer" src="{% static 'images/python_logo.png' %}">
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <br>
                        <p class="footer-style">Copyright: Kacper Mazurkiewicz 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
